.item {
  display: flex;
  gap: 15px;
  justify-content: center;
  height: 60px;
  width: 400px;
  border-radius: 32px;
  background-color: gray;

  &__title {
    font-size: 15px;
    line-height: 115%;
    color: #35383e;
  }
}
